html {
  background-color: black;
  height: 100%;
}

.App {
  text-align: center;
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}

* {
  font-family: "Courier";
  font-weight: 400;
}

.navbar {
  border: 1px solid #c0ffee;
  border-radius: 30px;
  justify-content: center;
  top: 30px;
  bottom: 30px;
  left: 0;
  right: 0;
  margin-bottom: 25px;
}

.navbar-link {
  color: white;
  margin-top: 15px;
  overflow: hidden;
  padding-bottom: 0px;
  background: linear-gradient(to right, black, blue 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 750ms ease;
}

.navbar-link:hover {
  background-position: 0 100%;
}

.navbar-button {
  transition: all 250ms ease-in-out;
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px !important;
}

.navbar-button:hover {
  transform: scale(1.05);
}

.logo {
  top: 30px;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 45px auto;
  justify-content: center;
  text-align: center;
  position: relative;
  color: #c0ffee;
  text-shadow: 0 3px, 0 0 3px aqua, 0 2px white;
}

.headers {
  color: #c0ffee;
  margin: 25px auto;
}

.login {
  border: 3px solid #c0ffee;
  border-radius: 30px;
  width: 500px;
  color: #c0ffee;
  padding: 10px;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 30px;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 15px auto;
  margin-bottom: 50px;
}

.label {
  border: 1px solid black;
  background-color: #525252;
  color: white;
  border-radius: 10px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label::placeholder {
  color: white;
  opacity: 0.8;
}

.search-container {
  display: flex;
}

.search {
  border: 3px solid #c0ffee;
  border-radius: 30px;
  width: 500px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px auto;
  display: block;
}

.input {
  display: absolute;
  align-self: center;
  background-color: #525252;
  color: white;
  width: 50%;
  height: 50px;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
}

.input::placeholder {
  color: white;
  opacity: 0.8;
}

.results {
  width: 500px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-link {
  color: white;
  margin: 0 auto;
  overflow: hidden;
  font-weight: 900;
  background: linear-gradient(to right, black, blue 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 750ms ease;
}

.search-link:hover {
  background-position: 0 100%;
}

.myteam-button {
  border-radius: 10px;
  background-color: lightgray !important;
  color: black;
  margin-top: 10px;
  margin-bottom: 5px;
  transition: background-color 0.6s ease;
}

.myteam-button:hover {
  background-color: green !important;
  color: white !important;
}

.myteam-select {
  border-radius: 30px;
  color: black;
  width: 350px;
  padding: 10px;
  position: relative;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 25px auto;
}

.teams-container {
  display: grid;
  margin-top: 75px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 50px;
  column-gap: 50px;
  row-gap: 75px;
  color: black;
  align-items: center;
  justify-content: center;
}

.team-button {
  display: block;
  background-color: black;
  color: white;
  border: 3px solid #c0ffee;
  border-radius: 10px;
  height: 90px;
  width: 150px;
  transition: all 250ms ease-in-out;
}

.team-button:hover {
  transform: scale(1.05);
}

.team-link {
  color: white;
  margin-top: 10px;
  overflow: hidden;
  background: linear-gradient(to right, #2acaea, white 50%, #3399ff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 750ms ease;
}

.team-link:hover {
  background-position: 0 100%;
}

.team {
  text-align: center;
  color: #c0ffee;
  border: 1px solid #c0ffee;
  border-radius: 30px;
  position: relative;
  width: 75%;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  display: block;
  overflow: auto;
  padding-bottom: 50px;
}

.player-add-button {
  margin: 10px;
  margin-top: 10px;
  background: lightblue !important;
  color: black !important;
  transition: background-color 0.6s ease;
  border: 1px solid;
  border-radius: 5px;
}

.player-add-button:hover {
  background-color: green !important;
  color: white !important;
}

.player-remove-button {
  margin: 2px auto;
  background: lightblue !important;
  color: black !important;
  transition: background-color 0.6s ease;
  border: 1px solid;
  border-radius: 5px;
}

.player-remove-button:hover {
  background-color: red !important;
  color: white !important;
}

.player-link {
  color: black;
  cursor: pointer;
  margin-top: 10px;
  text-shadow: 0 0 0 1px blue, 0 0 1px #c0ffee;
  overflow: hidden;
  background: linear-gradient(to right, black, #2acaea 50%, blue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 750ms ease;
}

.player-link:hover {
  background-position: 0 100%;
  transform: scale(1.05);
}

.table {
  background-color: #c5d2d3;
  display: table;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 50px auto;
  width: 75%;
}

td {
  text-align: center;
  vertical-align: middle;
}

.player-card {
  border: 3px solid #c0ffee;
  color: #c0ffee;
  border-radius: 30px;
  width: 50%;
  background-color: black;
  padding: 10px;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 30px;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 50px auto;
}

.player-card-add-div {
  position: absolute;
  top: 10px;
  right: 20px;
}

.player-card-add-button {
  margin: 2px auto;
  background: white !important;
  color: black !important;
  transition: background-color 0.6s ease;
  border: 3px solid #c0ffee;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.player-card-add-button:hover {
  transform: scale(1.05);
  background-color: green !important;
  color: white !important;
}
.back-button-div {
  position: absolute;
  top: 10px;
  left: 20px;
}

.back-button {
  color: black;
  border: 3px solid #c0ffee;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.back-button:hover {
  transform: scale(1.05);
}

.boxscore-outline {
  text-align: center;
  color: #c0ffee;
  border: 1px solid #c0ffee;
  border-radius: 30px;
  position: relative;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  display: block;
  overflow: auto;
}

.boxscore-layout {
  float: left;
  width: 33%;
  border-left: 1px solid #c0ffee;
  border-top: 1px solid #c0ffee;
}

.player-boxscore-link {
  color: white;
  text-shadow: 0 0 0 1px white, 0 0 1px #c0ffee;
  overflow: hidden;
  background: linear-gradient(to right, #2acaea, white 50%, #3399ff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 750ms ease;
}

.player-boxscore-link:hover {
  background-position: 0 100%;
}

.player-boxscore-pic {
  height: auto;
  width: 200px;
}

/* For Tablet View */
/* @media screen and (min-device-width: 769px)
and (max-device-width: 1450px) {
  canvas{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-size: cover cover;
    z-index: -1;
  }
  canvas:after {
    content: '';
    width: 100vw;
    height: 100vh;
    background-position: inherit;
    background-image: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-repeat: inherit;
    position: fixed;
    top: 0;
    z-index: -1;
  }
  header{
    grid-column: 6 / 8;
  }

  body{
    position: absolute;
    width: 100%;
  }
  section{
    grid-column: 6 / 8;
    font-size: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.55)
  }

} */

// For Mobile Portrait View
@media screen and (max-width: 500px) and (orientation: portrait) {
  .navbar {
    display: flex;
    flex-direction: rows;
    border: none;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px !important;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .navbar-link:hover {
    background-position: 0 100%;
  }

  .navbar-button {
    transition: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: white;
  }

  .navbar-button:hover {
    transform: scale(1.05);
  }

  .logo {
    width: 100%;
    margin: 50px auto;
    justify-content: center;
    text-align: center;
    position: relative;
    color: #c0ffee;
    text-shadow: 0 3px, 0 0 3px aqua, 0 2px white;
  }

  .headers {
    color: #c0ffee;
    margin: 25px auto;
  }

  .login {
    border: 3px solid #c0ffee;
    border-radius: 30px;
    width: 110vw;
    color: #c0ffee;
    padding: 10px;
    display: flexbox;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 30px;
    bottom: 30px;
    left: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .label {
    border: 1px solid black;
    background-color: #525252;
    color: white;
    border-radius: 10px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .label::placeholder {
    color: white;
    opacity: 0.8;
  }

  .search-container {
    display: flex;
    width: 50vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  .search {
    border: 3px solid #c0ffee;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    display: flexbox;
  }

  .input {
    display: absolute;
    align-self: center;
    background-color: #525252;
    color: white;
    width: 50%;
    height: 50px;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
  }

  .input::placeholder {
    color: white;
    opacity: 0.8;
  }

  .results {
    width: 50vw;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .search-link {
    color: white;
    overflow: auto;
    font-weight: 50;
    background: linear-gradient(to right, black, blue 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 750ms ease;
  }

  .search-link:hover {
    background-position: 0 100%;
  }

  // EACH TEAM

  .team {
    text-align: center;
    padding: 10px;
    color: #c0ffee;
    border: 1px solid #c0ffee;
    border-radius: 30px;
    position: relative;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    display: block;
    overflow: auto;
    padding-bottom: 50px;
  }

  .back-button-div {
    position: relative;
    margin: 0 auto;
  }

  .back-button {
    color: black;
    border: 3px solid #c0ffee;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .back-button:hover {
    transform: scale(1.05);
  }

  .player-add-button {
    margin: 10px;
    margin-top: 10px;
    background: lightblue !important;
    color: black !important;
    transition: background-color 0.6s ease;
    border: 1px solid;
    border-radius: 5px;
  }

  .player-add-button:hover {
    background-color: green !important;
    color: white !important;
  }

  .player-remove-button {
    margin: 2px auto;
    background: lightblue !important;
    color: black !important;
    transition: background-color 0.6s ease;
    border: 1px solid;
    border-radius: 5px;
  }

  .player-remove-button:hover {
    background-color: red !important;
    color: white !important;
  }

  .player-link {
    color: black;
    cursor: pointer;
    margin-top: 10px;
    text-shadow: 0 0 0 1px blue, 0 0 1px #c0ffee;
    overflow: hidden;
    background: linear-gradient(to right, black, #2acaea 50%, blue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: all 750ms ease;
  }

  .player-link:hover {
    background-position: 0 100%;
    transform: scale(1.05);
  }

  .table {
    background-color: #c5d2d3;
    display: table;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    width: 75%;
  }

  td {
    text-align: center;
    vertical-align: middle;
  }

  // PLAYER CARDS

  .player-card {
    border: 3px solid #c0ffee;
    color: #c0ffee;
    border-radius: 30px;
    width: 100%;
    background-color: black;
    padding: 50px;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 30px;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 50px auto;
  }

  .player-card-add-div {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .player-card-add-button {
    margin: 2px auto;
    background: white !important;
    color: black !important;
    transition: background-color 0.6s ease;
    border: 3px solid #c0ffee;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .player-card-add-button:hover {
    transform: scale(1.05);
    background-color: green !important;
    color: white !important;
  }
}
/* For Mobile Landscape View */
/* @media screen and (max-device-width: 900px)
and (orientation: landscape) {
  canvas{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover cover;
    z-index: -1;
  }
  canvas:after {
    content: '';
    width: 100vw;
    height: 100vh;
    background-position: inherit;
    background-image: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-repeat: inherit;
    position: fixed;
    top: 0;
    z-index: -1;
  }


  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%
  }
  section{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.55)
  }

} */
