
html {
  background-color: black;
  height: 100%;
}

.App {
  text-align: center;
  background-color: black;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
}


*{
  font-family: "Courier";
  font-weight: 400;
}


.navbar{
  border: 3px solid #c0ffee;
  border-radius: 30px;
  top: 30px; bottom: 30px; left: 0; right: 0;
}

.navbar-link {
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, black, #c0ffee 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 750ms ease;
}

.navbar-link:hover {
  background-position: 0 100%
}

.navbar-button {
  transition: all 250ms ease-in-out;
  margin: 10px
}

.navbar-button:hover {
  transform: scale(1.05)
}

.logo {
  top: 30px; bottom: 30px; left: 0; right: 0;
  margin: 50px auto;
  justify-content: center;
  text-align: center;
  position: relative;
  color: #c0ffee;
  text-shadow: 0 3px, 0 0 3px aqua, 0 2px white 
}

.headers {
  color: #c0ffee;
}

.login{
  border: 3px solid #c0ffee;
  border-radius: 30px;
  width: 500px;
  color: #c0ffee;
  padding: 10px;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 30px; bottom: 30px; left: 0; right: 0;
  margin: 50px auto
}

.label{
  border: 1px solid;
  border-radius: 10px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-container{
  display: flex;
}

.search {
  border: 3px solid #c0ffee;
  border-radius: 30px;  
  width: 500px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px; bottom: 0; left: 0; right: 0;
  margin: 50px auto;
  display: block;
}

.input {
  display: absolute;
  align-self: center;
  width: 50%;
  height: 50px;
  margin: 20px 20px 20px 20px;
  border-radius: 10px
}

.results {
  width: 500px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.teams-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-template-rows: 50px 50px;
  column-gap: 50px;
  row-gap: 75px;
  color: black;
  align-items: center;
  justify-content: center;
}

.team-button {
  display: block ;
  background-color: black;
  color: white;
  border: 3px solid #c0ffee;
  border-radius: 10px;
  height: 90px;
  width: 130px;
  
}

.team-link {
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, #2acaea, white 50%, #3399ff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 750ms ease;
}

.team-link:hover {
  background-position: 0 100%
}


.team {
  text-align: center;
  color: #c0ffee;
  border: 1px solid #c0ffee;
  border-radius: 30px;
  position: relative;
  width: 75%;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  display: block;
}

.player-add-button {
  margin: 2px auto;
  background: lightblue !important;
  color: black !important; 
  transition: background-color .6s ease;
  border: 1px solid;
  border-radius: 5px
}

.player-add-button:hover {
  background-color: green !important;
  color: white !important;         
}

.player-remove-button {
  margin: 2px auto;
  background: lightblue !important;
  color: black !important; 
  transition: background-color .6s ease;
  border: 1px solid;
  border-radius: 5px
}

.player-remove-button:hover {
  background-color: red !important;
  color: white !important;         
}


.player-link {
  color: black;
  text-shadow: 0 0 0 1px blue, 0 0 1px #c0ffee;
  overflow: hidden;
  background: linear-gradient(to right, #2acaea, black 50%, blue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 750ms ease;
}

.player-link:hover {
  background-position: 0 100%
}

.table {
 background-color: #c5d2d3;
  display: table;
  border: 1px solid black;
  border-radius:10px;
  position: relative;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: 50px auto;
  width: 75%
}

.player-card {
  border: 3px solid #c0ffee;
  color: #c0ffee;
  border-radius: 30px;
  width: 50%;
  background-color: black;
  padding: 10px;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 30px; bottom: 30px; left: 0; right: 0;
  margin: 50px auto;
}

.player-card-add-div {
  position: absolute;
  top: 10px; 
  right: 20px;
}

.player-card-add-button {
  margin: 2px auto;
  background: white !important;
  color: black !important; 
  transition: background-color .6s ease;
  border: 3px solid #c0ffee;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s ease-in-out;
 
}

.player-card-add-button:hover {
  transform: scale(1.05);
  background-color: green !important;
  color: white !important;    
}
.back-button-div {
  position: absolute;
  top: 10px; 
  left: 20px;
}

.back-button {
  color: black;
  border: 3px solid #c0ffee;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s ease-in-out;
 
}

.back-button:hover {
  transform: scale(1.05)
}

.player-boxscore-link {
  color: white;
  text-shadow: 0 0 0 1px white, 0 0 1px #c0ffee;
  overflow: hidden;
  background: linear-gradient(to right, #2acaea, white 50%, #3399ff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 750ms ease;
}

.player-boxscore-link:hover {
  background-position: 0 100%
}

.player-boxscore-pic {
  height: auto;
  width: 200px
}